
{% extends 'base.html.twig' %}

{% block body %}
    <h1>System error</h1>

    {# example security usage, see below #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        <a href="{{ path('main_homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}
