
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ldap_host:                  ldap.forumsys.com  
    ldap_port:                  389
    ldap_username:              user-lecture
    ldap_password:              password
    ldap_baseDn:                cn=read-only-admin,dc=example,dc=com
    ldap_useSsl:                false
    ldap_bindRequiresDn:        false
    ldap_accountFilterFormat:   (&(samaccountname=%s))
    ldap_filter:                (&(ObjectClass=Person)) 
    ldap_filterSearch:          (&(ObjectClass=Person)(cn=*%s*)) 

    twitter_key: key    
    twitter_secret: secret
    twitter_accessToken: token
    twitter_accessTokenSecret: token-secret