<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Rappel des droits utilisateur</h4>
        </div>
        <div class="modal-body">
            <table class="table table-condensed table-striped table-hover" style="width:95%;margin:auto;">
                <thead>
                    <tr>
                        <th style="width:35%;">Rôle</th>
                        <th style="width:65%;">Droits accordés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="label label-primary">Utilisateurs lambda</span></td>
                        <td>Il a un accès basique à l'appli.Il faudra décrire ici les rubriques auxquelles il a le droit.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-danger">Développeur</span></td>
                        <td>
                            <div>Il englobe les droits de l'utilisateur lambda.</div>
                            <div>Il a également un accès spécifique aux outils de développement.</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-warning">Administrateur</span></td>
                        <td>
                            <div>Il englobe l'ensemble des droits des groupes inférieurs.</div>
                            <div>Il a un accès à toute l'administration.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
