{% extends 'MainBundle::layout.html.twig' %}

{% block title -%} {{parent()}} - Service - modification{% endblock %}

{% block body -%}
    <h1>Modification d'un service</h1>

    {{ form(edit_form) }}

      
{% endblock %}
